@import 'tailwindcss';

@theme {
	--font-palanquin: Palanquin, sans-serif;
	--font-montserrat: Montserrat, sans-serif;
	--font-wix: Wix Madefor Display, sans-serif;
	--font-russo: Russo One, sans-serif;
	--font-audiowide: Audiowide, sans-serif;
	--font-copperplate: Copperplate;

	--color-primary: #eceeff;
	--color-coral-red: #ff6452;
	--color-slate-gray: #6d6d6d;
	--color-pale-blue: #f5f6ff;

	--shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

	--breakpoint-wide: 1440px;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@font-face {
	font-family: 'Copperplate';
	src: url('../static/fonts/Copperplate.otf');
	font-weight: normal;
	font-style: normal;
}

@utility card {
	@apply m-10 rounded-lg bg-white px-6 py-8 shadow-xl ring-1 ring-slate-900/5 dark:bg-black;
}

@utility max-container {
	max-width: 1440px;
	margin: 0 auto;
}

@utility input {
	@apply text-slate-gray max-sm:border-slate-gray border pl-5 text-base leading-normal outline-hidden max-sm:w-full max-sm:rounded-full max-sm:p-5 sm:flex-1 sm:border-none;
}

@utility info-text {
	@apply font-montserrat text-slate-gray text-lg leading-7;
}

@layer utilities {
	body {
		font-family: 'Wix Madefor Display', sans-serif;
	}
}

@layer utilities {
	@keyframes blob {
		0% {
			transform: translate(0px, 0px) scale(1);
		}
		33% {
			transform: translate(20px, 10px) scale(1.1);
		}
		66% {
			transform: translate(-40px, -40px) scale(0.9);
		}
		100% {
			transform: translate(0px, 0px) scale(1);
		}
	}

	.animate-blob {
		animation: blob 20s infinite;
	}

	@keyframes pop {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		1% {
			transform: scale(1.2);
			opacity: 1;
		}
		5% {
			transform: scale(1.1);
			opacity: 0;
		}
		20% {
			transform: scale(1);
			opacity: 0;
		}
		40%, 100% {
			opacity: 1;
		}
	}

	.animate-pop {
		animation: pop 20s infinite;
	}
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-5000 {
		animation-delay: 5s;
	}
	.a-d-5 {
		animation-delay: 5s;
	}
	.a-d-6 {
		animation-delay: 6s;
	}
	.a-d-7 {
		animation-delay: 7s;
	}
	.a-d-8 {
		animation-delay: 8s;
	}
	.a-d-9 {
		animation-delay: 9s;
	}
	.a-d-10 {
		animation-delay: 10s;
	}
}

@layer utilities {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
}
