@import 'tailwindcss';

@theme {
	--font-palanquin: Palanquin, sans-serif;
	--font-montserrat: Montserrat, sans-serif;
	--font-wix: Wix Madefor Display, sans-serif;

	--color-primary: #eceeff;
	--color-coral-red: #ff6452;
	--color-slate-gray: #6d6d6d;
	--color-pale-blue: #f5f6ff;

	--shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

	--background-image-hero: url('/assets/images/collection-background.svg');
	--background-image-card: url('/assets/images/thumbnail-background.svg');

	--breakpoint-wide: 1440px;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility card {
	@apply m-10 rounded-lg bg-white px-6 py-8 shadow-xl ring-1 ring-slate-900/5 dark:bg-black;
}

@utility max-container {
	max-width: 1440px;
	margin: 0 auto;
}

@utility input {
	@apply text-slate-gray max-sm:border-slate-gray border pl-5 text-base leading-normal outline-hidden max-sm:w-full max-sm:rounded-full max-sm:p-5 sm:flex-1 sm:border-none;
}

@utility info-text {
	@apply font-montserrat text-slate-gray text-lg leading-7;
}

@layer utilities {
	body {
		font-family: 'Wix Madefor Display', sans-serif;
	}
}

@layer utilities {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
}
